<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>
<plugin>
   <extension point="org.eclipse.jdt.ls.core.delegateCommandHandler">
      <delegateCommandHandler class="com.redhat.jdtls.quarkus.jdt.ls.quarkus.core.internal.SampleDelegateCommandHandler">
            <command id="com.redhat.jdtls.quarkus.jdt.ls.quarkus.samplecommand"/>
       </delegateCommandHandler>
   </extension>
</plugin>
